<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth test app</title>
</head>
<body>
<form name="testForm" id="testForm" action="">
  <label for="namespace">Namespace: </label>
  <br/>
  <input type="text" name="namespace" id="namespace" value="{{ .Namespace }}"/>
  <br/>
  <br/>

  <label for="token">Token:</label>
  <br/>
  <textarea id="token" cols="100" rows="10" name="token">{{ .Token }}</textarea>
  <br/>

  <br/>
  <br/>
  <input type="submit" value="Try"/>
  <input type="button" value="Try with authorization header" onclick="sendData()"/>
</form>

<div>
  <p>
  <h3>output:</h3>
  <pre id="output" style="border: 1px #aaa solid; background-color: #eee; padding: 5px; word-wrap: break-word; white-space: pre-wrap;">
{{ .Output }}
  </pre>
  </p>
</div>

<script>
  function sendData() {
    const XHR = new XMLHttpRequest();

    XHR.addEventListener("load", function (event) {
      const outputElement = document.getElementById("output");
      outputElement.innerText = event.target.responseText;
    });

    XHR.addEventListener("error", function () {
      alert('Oops! Something went wrong.');
    });

    const form = document.getElementById("testForm");
    const formData = new FormData(form);
    XHR.open("GET", "/query?namespace=" + formData.get("namespace"), true);
    if (formData.get("token")) {
      XHR.setRequestHeader('Authorization', 'Bearer ' + formData.get("token"));
    }
    XHR.send();
  }
</script>
</body>
</html>
